@media screen and (max-width: 768px) {
  .PhotographerDetails_header_logo img {
    width: 150px;
    height: auto;
  }
}

.PhotographerDetails_dropdown_label {
  font-weight: bold;
  margin-right: 1rem;
}

.PhotographerDetails_dropdown {
  width: 140px;
  padding: 1rem;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 3rem;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_up.png)
    no-repeat right #911c1c;
  -webkit-appearance: none;
  background-position-x: 110px;
  color: #fff;
}

.PhotographerDetails_photos_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
  margin-top: 1rem;
}

.PhotographerDetails_photo {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.PhotographerDetails_photo_figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.25rem;
  margin-bottom: 1rem;
}

.PhotographerDetails_photo_figcaption_likes {
  display: flex;
  align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .PhotographerDetails_dropdownSort {
    display: none;
  }
}
