header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
/* @media screen and (max-width: 768px) {
  header {
    justify-content: ;
  }
} */

.PhotographerList_header_logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .PhotographerList_header_logo {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .PhotographerList_header_logo img {
    width: 150px;
    height: auto;
  }
}

.Navbar_tags {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav {
    order: 3;
    margin-top: 1rem;
  }
}

.NosPhotographes {
  color: #901c1c;
  font-size: 36px;
  line-height: 47px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .NosPhotographes {
    order: 2;
    font-size: 16px;
  }
}
