.PhotographerDetails_photo {
  /* flex: 1 1 100%; */
  width: 300px;
  height: 250px;
  object-fit: cover;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  cursor: pointer;
}

.PhotographerDetails_photo_figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.25rem;
  margin-bottom: 1rem;
}

.PhotographerDetails_photo_figcaption_likes {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.PhotographerDetails_photos_all_likes {
  position: fixed;
  display: flex;
  padding: 25px 0;
  bottom: 0;
  right: 19.5px;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
  padding: 0.75rem;
}

.PhotographerDetails_photos_all_likes_hearts {
  margin-right: 4rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .PhotographerDetails_photos_all_likes {
    display: none;
  }
}
