header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.PhotographerList_header_logo {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .PhotographerList_header_logo img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .PhotographerList_header_logo {
    order: 1;
  }
}

@media screen and (max-width: 600px) {
  nav {
    order: 3;
  }
}

.NosPhotographes {
  color: #901c1c;
  font-size: 36px;
  line-height: 47px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .NosPhotographes {
    order: 2;
    font-size: 10px;
  }
}
