@media screen and (max-width: 768px) {
  .PhotographerDetails_header_logo img {
    width: 150px;
    height: auto;
  }
}

/* background: #911c1c;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_up.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 15px;
  border: 1px solid #9f3434;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
} */

.PhotographerDetails_dropdown {
  width: 140px;
  padding: 1rem;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 3rem;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_up.png)
    no-repeat right #911c1c;
  -webkit-appearance: none;
  background-position-x: 110px;
  color: #fff;
}

.PhotographerDetails_photos_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 1rem;
}

.PhotographerDetails_photo {
  /* flex: 1 1 100%; */
  width: 300px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.PhotographerDetails_photo_figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
/* 
@media screen and (min-width: 480px) {
  .PhotographerDetails_photo {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 768px) {
  .PhotographerDetails_photo {
    flex: 1 1 33.333%;
  }
}

@media screen and (min-width: 980px) {
  .PhotographerDetails_photo {
    flex: 1 1 25%;
  }
} */
