section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 200px;
  margin-top: 100px;
}

.PhotographerID {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.PhotographerID h2 {
  font-size: 36px;
  color: #d3573c;
  margin-top: 10px;
  margin-bottom: 10px;
}
.PhotographerID img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.PhotographerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-size: 13px;
  color: #901c1c;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
}

.slogan {
  font-size: 10px;
  color: #000000;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
}

.price {
  font-size: 9px;
  color: #757575;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
}

.headerPhotographer {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 4rem;
  margin-top: 4rem;
}

.headerPhotographer_contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.headerPhotographer_contact button {
  margin-left: 4rem;
  color: #fff;
  background-color: #901c1c;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 170px;
  height: 69px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.headerPhotographer_contact_name {
  font-size: 64px;
  color: #d3573c;
  margin-bottom: 0;
  margin-top: 0;
}

.headerPhotographer_contact_city {
  font-size: 24px;
  color: #901c1c;
  margin-top: 10px;
  margin-bottom: 20px;
}

.headerPhotographer_contact_slogan {
  font-size: 18px;
  color: #525252;
  margin-top: 20px;
  margin-bottom: 25px;
}

.headerPhotographer_contact_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerPhotographer_contact_img img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
