.Tags {
  padding-left: 0px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  line-height: 1.25rem;
  margin: 0;
  justify-content: center;
}

.Tag {
  list-style-type: none;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  /* difference between the vertical padding of TagLink.
  Egalize the vertical space between the city, tagline, price and tags */
  margin-top: 5px;
}

.Tag_btn {
  /* Reset button style */
  border: none;
  background: none;

  color: #901c1c;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25rem;
  padding: 0px 5px;
  display: flex;
}

.Pointer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .Tag_btn {
    font-size: 11px;
    padding: 0px 4px;
  }
}
